body {
    background: rgb(224, 107, 11);
    font: normal 20pt Union
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    height: 50;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    text-align: center;


}

footer {
    color: rgb(39, 69, 240);
    text-align: center;
    /*font-style: italic;*/
    font: normal 20pt verdana;


} 
#res{
    position: relative;
top: -10px;
}

